{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["react-native-web", { "commonjs": true }]
  ],
  "presets": ["@babel/preset-flow", "@babel/preset-react"],
  "env": {
    "browser-cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": "commonjs",
            "loose": true
          }
        ]
      ]
    },
    "browser-esm": {
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": true }],
        ["react-native-web", { "commonjs": true }]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false,
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
